$light-color: #fff;
$light-color-op75: #ffffffbf;
$light-color-op55: #ffffff8c;
$light-color-op25: #ffffff40;

$dark-color: #2b2a33;
$dark-color-op75: rgba(43, 42, 51, 0.75);
$dark-color-op50: rgba(43, 42, 51, 0.5);
$dark-color-op25: rgba(43, 42, 51, 0.25);

$dark2-color: #42414d;

$screen-xs: 576px;
$screen-sm: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-xs-max: 767px;
$screen-sm-max: 991px;
$screen-lg-max: 1199px;